<!DOCTYPE html>
<html>
<head>
  <title>Dediced Web Alpha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
<!--  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> !-->
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="non-footer">
		<div id="header-wrapper">
			<div id="header">
				<!-- <img src='/assets/icon-dediced.png' id="icon-dediced"> -->
				<ul id="user-bar">
				</ul>
			</div>
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</div>
	<div id="footer">
		<div id="footer-cols">
			<ul class="footer-col">
				<li><h1>Dediced</h1></li>
				<li><a href="/tutorial" target="_blank">Tutorial</a></li>
				<li><a href="/pricing" target="_blank">Pricing</a></li>
			</ul>
			<ul class="footer-col">
				<li><h1>Follow us</h1></li>
				<li><a href="https://www.facebook.com/dediced" target="_blank">Facebook</a><!-- <img src="/assets/dediced_facebook.png" height="30px"/> --></li>
				<li><a href="https://twitter.com/DedicedLLC" target="_blank">Twitter</a><!-- <img src="/assets/dediced_twitter.png" height="30px"/> --></li>
				<li><a href="https://plus.google.com/102627012757334564024" target="_blank">Google Plus</a><!-- <img src="/assets/dediced_gplus.png" height="30px"/> --></li>
			</ul>
			<ul class="footer-col">
				<li><h1>About</h1></li>
				<li><a href="/tutorial" target="_blank">Mission</a></li>
				<li><a href="/pricing" target="_blank">Team</a></li>
			</ul>
			<ul class="footer-col">
				<li><h1>Support</h1></li>
				<li><a href="/pricing" target="_blank">FAQ</a></li>
				<li><a href="/tutorial" target="_blank">Contact us</a></li>			
			</ul>
		</div>
		<div id="copyright">Dediced LLC &copy 2011-2012</div>
	</div>
</body>
</html>
